
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --margin-fir: 8px;
    --margin-sec: 16px;
    --margin-thi: 24px;
    --margin-for: 32px;
    --margin-fiv: 40px;
    --margin-six: 48px;
    --background-gra: radial-gradient(circle, rgba(232,52,11,1) 0%, rgba(244,65,25,1) 100%);
    --primary-cl: #e8340b;
    --secondary-cl: #F55C31;
    --alert-cl: #cf2e0a;
    --success-cl: #00A86C;
    --text-cl: #6C757D;
    --text-sec-cl: #a19e9d;
    --header-cl: #302b29;
    --header-sec-cl: #262221;
}

html {
    font-size: 62.5%;
}

/* HEADER START */

ul {
    list-style: none;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 2px var(--text-sec-cl);
}

.header .logo {
    width: 6rem;
    margin-left: 4em;
    padding: 1em 0;
}

.img-ul,
.colorful-img-ul {
    display: flex;
    gap: 3rem;
    margin-right: 4em;
}

.fa-brands {
    width: 1.3rem;
    cursor: pointer;
}

.nav-links {
    font-weight: 500;
    display: flex;
    gap: 10rem;
    margin-left: 6em;
}

.nav-li {
    font-size: 1.6rem;
    cursor: pointer;
    transition: all linear .20s;
    text-decoration: none;
}

    .nav-li:visited {
        color: var(--header-cl);
    }

    .nav-li:hover {
        color: var(--primary-cl);
    }

/* HEADER END */


/* HERO SECTION START */

.main-section {
    padding-bottom: 10em;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.hero-name {
    font-weight: 300;
    color: var(--primary-cl);
    margin-bottom: .5em;
    font-size: 1.8rem;
}

.hero-job {
    color: var(--header-cl);
    font-size: 3.3rem;
}

.hero-intro {
    font-weight: 500;
    font-size: 2.2rem;
    width: 54%;
    margin-top: .7em;
    color:var(--text-cl);
    text-align: center;
}

.hero-intro-highlight {
    color: var(--secondary-cl);
}

.email {
    font-weight: 300;
    color: var(--secondary-cl);
    font-size: 1.3rem;
    cursor: pointer;
}

.num-di {
    width: 10rem;
    display: flex;
    justify-content: center;
}

.num {
    font-size: 1.3rem;
    color: var(--text-cl);
}

.button-with-de {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 21rem;
    gap: 12rem;
}

.slide-bu {
    border: none;
    font-weight: 500;
    background: var(--background-gra);
    color: white;
    padding: .7em 1.4em;
    border-radius: 20px;
    cursor: pointer;
    transition: all linear .25s;
}

    .slide-bu:hover {
        color: var(--primary-cl);
        background: white;
        box-shadow: 0px 3px 15px 3px rgba(250, 186, 171, 1);
    }

/* HERO SECTION END */

/* CLIENT SECTION START */

.client-section {
    padding: 10em;
}

.client-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-img {
    display: flex;
    gap: 10rem;
    margin-bottom: 3rem;
    margin-right: var(--margin-six);
}

.company-img-sec {
    display: flex;
    gap: 10rem;
    margin-top: 3rem;
    margin-left: 3rem;
}

.image {
    width: 12rem;
}

.amazon {
    margin-bottom: -7.50rem;
}

.github {
    width: 7.50rem;
    margin-bottom: -7em;
    margin-left: 1rem;
}

.microsoft {
    width: 7.50rem;
}

.adobe {
    width: 12rem;
    margin-top: -2.20em;
}

.client-header {
    font-weight: 500;
    color: var(--header-cl);
    font-size: 4rem;
}

.client-but {
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 1.20rem;
}
/* CLIENT SECTION END */


/* PORTFOLIO SECTION START */


.portfolio-section {
    padding: 10em 0;
}

.portfolio-first-section {
    padding-left: 10em;
    padding-bottom: 8em;
}

.portfolio-second-section {
    padding-bottom: 10em;
}

.portfolio-third-section {
    padding-top: 0;
    padding-right: 0;
}

.portfolio-header {
    font-weight: 500;
    font-size: 5.10rem;
    color: var(--header-cl);
}

.portfolio-discription {
    width: 80rem;
    font-weight: 300;
    font-size: 2.40rem;
    margin-top: 16px;
    margin-bottom: 4rem;
    color: var(--header-sec-cl);
}

.insta-testnomail {
    padding-bottom: 10em;
}

.portfolio-image-two,
.portfolio-image-third {
    background-color: #4158D0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 2.4em;
    display: flex;
    justify-content: center;

}

.portfolio-image-two {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 26rem;
    width: 70rem;
    margin-right: 0;
}


.portfolio-image-third {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    width: 78rem;
}

.images {
    position: relative;
    top: 1rem;
    height: 32rem;
}

.insta-pic {
    height: 32rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.login-image {
    top: 3rem;
    height: 28rem;
}

/* PORTFOLIO SECTION END */


/* TESTNOMIAL SECTION START */

.testnomail-section {
    display: flex;
    justify-content: center;
    gap: 3.2em;
    padding: 10em;
}

.testnomail-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    border-radius: 16px;
    box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, .20);
}

.first-testnomail,
.second-testnomail,
.third-testnomial {
    margin: 0 auto;
}

.first-testnomail {
    margin-bottom: 6em; 
}

.ppl {
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    border-radius: 50%;
}

.testnomail-info-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 14px;
}

.testnomail-name,
.testnomail-job {
    margin: 0;
    margin-top: .6em;
    font-weight: 700;
    font-size: 1.2rem;
    color: #6C757D;
}

.testnomail-job {
    color: #F55C31;
    margin-bottom: .8em;
}

.testnomail-review {
    width: 26rem;
    text-align: center;
    margin: 0;
    margin-top: 1em;
    color: #6C757D;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 1.4em;
}

.project-testnomail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.point-testnomail-flexbox,
.point-testnomail-sec-flexbox {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.advantage-testnomail {
    margin: 0;
}

/* TESTNOMIAL SECTION END */


/* ABOUT ME SECTION START */

.about-me-section {
    padding: 10em;
    padding-top: 5em;
    padding-bottom: 15em;
}

.about-me-header {
    font-weight: 500;
    font-size: 4.70rem;
    color: var(--header-cl);
    margin-bottom: .50em;
}

.about-me-para-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.para {
    font-size: 1.6rem;
    font-weight: 500;
    width: 50rem;
    line-height: 2.65rem;
    color: var(--header-sec-cl);
}

.about-me-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.collage-images-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.all-images {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 5em;
}

.abby-standing {
    width: 22rem;
    border-radius: 15px;
}

.collage-images {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.abby-sitting,
.abby-working {
    width: 23rem;
    border-radius: 15px;
}

/* ABOUT ME SECTION END */


/* SERVICE SECTION START */

.service-section {
    padding: 10em;
    padding-top: 13em;
}

.title-disc-box,
.service-section-mainbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.service-section-mainbox {
    gap: 6rem;
}

.title {
    font-weight: 600;
    color: var(--primary-cl);
    font-size: 1.8rem;
}

.disc {
    border: none;
    text-align: center;
    font-size: 1.6rem;
    width: 48%;
    color: var(--header-sec-cl);
}

/* SERVICE SECTION END */


/* ADVANTAGE SECTION START */

.advantage-section {
    padding: 10em;
}

.advantage-header {
    color: var(--header-cl);
    font-size: 1.9rem;
    font-weight: 600;
}

.advantage-points-mainbox {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.advantage-point {
    color: var(--primary-cl);
    font-size: 2rem;
    font-weight: 600;
}

.advantage-point-disc {
    color: var(--header-sec-cl);
    margin-top: .6em;
    font-size: 1.6rem;
}

/* Designing Tools */

.tools-mainbox {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 10rem;
}

.tools {
    width: 2.9rem;
}

.images-of-design {
    display: flex;
    gap: 2rem;
}

.design-image-one {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem;
}

    .design-image-one .grid-second-row {
        display: flex;
        gap: 1.40rem;
        align-items: center;
        margin-left: 2.6em;
        padding-bottom: 1rem;
    }

.design-image-two {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem;
}

.adobe-xd,
.homebrew {
    width: 3.4rem;
}

.homebrew {
    margin-left: 5em;
    padding-bottom: 1.5em;
}

.adobe-illu {
    width: 4rem;
}

.VSCode {
    width: 4.2rem;
    margin-left: -.80em;
    padding-top: .10em;
}


.design-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.30rem;
}

.design-box-one,
.design-box-two {
    box-shadow: 0px 3px 15px 3px rgba(0, 0, 0, .20);
    width: 25%;
    border-radius: 10px;
    transition: all linear .10s;
}

    .design-box-one:hover,
    .design-box-two:hover {
        box-shadow: 0px 3px 15px 8px rgba(0, 0, 0, .20);
    }

    .design-box-two {
        width: 27%;
    }

.design-header {
    color: var(--primary-cl);
    font-size: 1.8rem;
    padding-top: 1.5rem;
}

/* ADVANTAGE SECTION END */


/* CONTACT SECTION START */

.contact-section {
    padding: 10em;
    padding-top: 15em;
    padding-bottom: 20em;
}

.contact-header {
    color: var(--header-sec-cl);
    font-size: 3.5rem;
    width: 75%;
    line-height: 5rem;
}

.header-span {
    color: var(--secondary-cl);
}

.contact-subtitle-secbox {
    display: flex;
    flex-direction: column;
    margin-top: 15em;
    width: 59%;
}

.subtitle-line {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--header-sec-cl);
}

.contact-seaction-email,
.contact-seaction-num {
    font-size: 1.5rem;
    cursor: default;
}

.contact-seaction-num {
    margin-left: auto;
}

.contact-subtitle-mainbox {
    display: flex;
    justify-content: center;
}

.faq-header {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    color: var(--header-sec-cl);
    margin-top: 7em;
}

.question-answer {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 8em;
    margin-right: 3em;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    gap: 1.20rem;
    margin-top: 0;
    margin-right: 0;
    text-align: center;
    font-size: 1.6rem;
    color: var(--header-sec-cl);
}

.question {
    color: var(--secondary-cl);
}

.answer {
    max-width: 40rem;
    font-size: 1.5rem;
}

.question-answer-second-row {
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 7em;
}

/* CONTACT SECTION END */


/* CONTACT FORM SECTION START */

.contact-form-section {
    padding: 10em;
    padding-top: 0;
}

.contact-form-header {
    color: var(--header-sec-cl);
    font-size: 2.9rem;
    width: 60%;
}

.name-email-box {
    display: flex;
    justify-content: center;
    gap: 12rem;
    margin-top: 6em;
}

.name-box,
.email-box,
.project-de-box,
.mini-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.budget-timeline-box {
    gap: 12rem;
}

.project-de-mainbox,
.budget-timeline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
}


.form-headers {
    color: var(--header-cl);
    font-size: 1.4rem;
}

.input-el {
    padding: .2em 1.8em;
    padding-left: .8em;
    font-size: 1.4rem;
    border: 2px solid var(--text-cl);
    border-radius: 8px;
    -webkit-transition: 0.5s;
    transition: .5s;
    outline: none;
    
}

    .input-el:focus {
        border: 2px solid var(--primary-cl);
    }

.project-textarea {
    resize: none;
    height: 20rem;
    line-height: 1.6;
    padding: .6em 1em;
}

.form-sumbit-box {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

/* CONTACT FORM SECTION END */


/* FOOTER SECTION START */

.footer-section {
    padding: 10em;
    padding-top: 4em;
    padding-bottom: 3em;
    background-color: var(--header-sec-cl);
    color: white;
    border-top: 4px solid var(--primary-cl);
}

.center-footer-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy-conditions {
    font-size: 1.4rem;
    display: inline-flex;
    gap: 1rem;
    margin-left: 12em;

}

.copyright-claim {
    display: inline-block;
    font-size: 1.4rem;
}

.copyright-claim .claim {
    font-size: 1.2rem;
    text-align: center;
}

.colorful-img-ul {
    display: inline-flex;
    margin-left: 21em;
}

.colorful-insta,
.colorful-twitter,
.colorful-dribbble {
    width: 1.80rem;
    cursor: pointer;
}

/* FOOTER SECTION END */

.gotop-box {
    position: fixed;
    right: 1rem;
    bottom: .8rem;
    z-index: 999;
    cursor: pointer;
    transition: all linear 0.10s;
}

    .gotop-box:hover {
        bottom: 1.6rem;
    }

    .gotop-box #gotop-image-button {
        width: 5rem;
    }

#name {
    border: none;
}

@media screen and (max-width: 480px) {

    html {
        font-size: 52.5%;
    }

    .nav-links {
        display: flex;
        margin: 0;
        margin-top: 2em;
        margin-left: .50em;
        gap: 4em;
        font-size: 1.50rem;
        align-items: center;
    }

    .header {
        flex-direction: column;
    }

    .header .logo {
        margin: 0;
        width: 7rem;
        margin-top: 1.50em;
    }

    .img-ul {
        margin: 0;
        margin-top: 5em;
        margin-bottom: 2.50em;
        gap: 3.50em;
    }

    .hero-section {
    }

    .hero-job {
        font-size: 3rem;
        max-width: 50rem;
        text-align: center; 
        margin: 0 .80em;
    }

    .hero-name {
        margin-bottom: .8em;
    }

    .hero-intro {
        margin: 0 .80em;
        margin-top: .8em;
        width: auto;
    }

    .button-with-de {
    }

}